body {
  max-width: 1400px;
  margin: 0 auto;
}
.notfound {
  font-family: 'Inconsolata', monospace;
  font-weidth: 700px;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  latter-spacing: 2px;
}
.badnews {
  font-family: Space Mono;
  font-style: normal;
  font-wight: bold;
  font-size: 64px;
  line-height: 95px;
  latter-spacing: 2px;
  positoin: absolute;
}
