body {
  max-width: 1400px;
  margin: 0 auto;
}
.notfound {
  font-family: 'Inconsolata', monospace;
  font-weidth: 700px;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  latter-spacing: 2px;
  color: #333333;
}
.badnews {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 2px;
}
.img {  
display: inline-block;
    float: left;
padding: 118px; 
}
.p2 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #4F4F4F;
}
.link {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4F4F4F;
  text-decoration: none;
  background: #333;
  padding: 24px 43px;
